@import url("https://fonts.cdnfonts.com/css/star-wars");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');


:root {
  --danger-color: #d13443;
  --success-color: #20c997;

  --title: "star wars", serif;
  --main-font: "share tech mono", serif;
}

.bg-purple{
    background: linear-gradient(#220e5a38, #16052e70 43%, #0b090f91),url('../images/space.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: left top;
    min-height: 100vh;
    overflow: hidden;
  }

.team_title {
    color: var(--yellow);
    letter-spacing: 3.2px;
    font-weight: 200;
}

/* columns side by side */
.profile-card {
    width: 20.3%;
    margin: 10px;
    padding: 10px 5px;
    text-align: center;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .profile-card {
        width: 100%;
        display: block;
    }
}

/* Some left and right padding inside the container */
.container {
    padding: 15px 10px;
}

/* Clear floats */
.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 2px 13px;
    text-align: center;
    margin: 2px;
}

a:hover {
    opacity: 0.7;
}

.button:hover {
    background-color: #555;
}

.bg-contact {
    background-color: rgba(19, 3, 42, 0.653);
}

/* End Contact page */