@import url("https://fonts.cdnfonts.com/css/star-wars");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  --red-color: #d13443;

  --title: "star wars", serif;
  --main-font: "share tech mono", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--main-font);
}

a.btn.btn-lg.btn-secondary {
  z-index: 1000;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.index-body::-webkit-scrollbar {
  display: none;
  height: 100vh;
  overflow: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.index-body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* index star wars sw scroll */

.sw-body {
  color: #ffbe00;
  font-family: sans-serif;
  font-size: 5vw;
  line-height: 1.3;
  overflow: hidden;
  height: 50vh;
}

.sw-container {
  margin: 0 auto;
  perspective: 400px;
  perspective-origin: bottom;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transform: scaleY(0.9);
  z-index: -1000;
}

.sw-credits {
  position: absolute;
  top: 0;
  left: 13%;
  right: 13%;
  height: 100%;
  animation: play-scroll 60s forwards;
}

.sw-headings {
  margin-bottom: 5rem;
}

.sw-h1 {
  font-size: 2.5rem;
  text-align: center;
}

.sw-h2 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

@keyframes play-scroll {
  0% {
    transform: rotateX(21deg) translate3d(0, 100rem, 0);
    opacity: 1;
  }

  100% {
    transform: rotateX(21deg) translate3d(0, -150rem, 0);
    opacity: 0;
  }
}

.cover {
  background: linear-gradient(#151616c2, #2f303054 43%, #181818b8),
    url("../images/space.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 790px) {
  #color_selector,
  .copy {
    position: relative;
    width: auto;
  }

  #color_selector {
    margin: 1em auto;
    width: 80%;
    right: 0;
  }

  .copy {
    padding: 0;
  }

  #bg {
    bottom: -59%;
  }
}

/* Game page */
#game {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#15161694, #3a3e3e24 43%, #18181887),
    url("../images/game-bg.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.locked-door-light {
  /* background-color: var(--red-color); */
  padding: 11px;
  border-radius: 50%;
}

.locked-door-light-1 {
  position: absolute;
  top: 90px;
  left: 38%;
}

.locked-door-light-2 {
  position: absolute;
  top: 90px;
  left: 46%;
}

.locked-door-light-3 {
  position: absolute;
  top: 90px;
  left: 54%;
}

@media only screen and (min-width: 400px) {
  .locked-door-light-1 {
    left: 40%;
  }

  .locked-door-light-2 {
    left: 47%;
  }

  .locked-door-light-3 {
    left: 54%;
  }
}

@media only screen and (min-width: 500px) {
  .locked-door-light {
    padding: 12px;
  }

  .locked-door-light-1 {
    left: 42%;
  }

  .locked-door-light-2 {
    left: 47%;
  }

  .locked-door-light-3 {
    left: 52%;
  }
}

@media only screen and (min-width: 650px) {
  .locked-door-light-1 {
    left: 44%;
  }

  .locked-door-light-2 {
    left: 48%;
  }

  .locked-door-light-3 {
    left: 52%;
  }
}

@media only screen and (min-width: 900px) {
  .locked-door-light-1 {
    left: 46%;
  }

  .locked-door-light-2 {
    left: 49%;
  }

  .locked-door-light-3 {
    left: 52%;
  }
}

@media only screen and (min-width: 1250px) {
  .locked-door-light {
    padding: 13px;
  }

  .locked-door-light-1 {
    top: 130px;
    left: 47%;
  }

  .locked-door-light-2 {
    top: 130px;
    left: 49%;
  }

  .locked-door-light-3 {
    top: 130px;
    left: 51%;
  }
}
.game-container {
  position: absolute;
  inset: 0;
}

.game-grid {
  height: 100%;
  position: relative;
  z-index: -1;
  margin-top: 3em;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 600ms ease-in-out, z-index 900ms;
  justify-content: center;
  align-items: center;
}

.game-grid > div {
  overflow: hidden;
}

.game-grid.active {
  grid-template-rows: 1fr;
  z-index: 2;
}

.yoda-game-span {
  background-color: red;
}

.btn-image-header {
  position: relative;
}

.redirect-to-play-game-image-btn:hover {
  transform: scale(1.3);
  transition-duration: 500ms;
  opacity: 1;
}

.redirect-to-play-game-image-btn {
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
}

.redirect-to-play-game-image-btn-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.586),
      rgba(117, 26, 19, 0.73)
    ),
    url("/assets/images/jedy-order-btn.jpg");
  opacity: 0.1;
}

.redirect-to-play-game-image-btn-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.263),
      rgba(19, 65, 117, 0.73)
    ),
    url("/assets/images/new-republic-btn.jpg");
  opacity: 0.2;
}

.redirect-to-play-game-image-btn-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.263),
      rgba(50, 117, 19, 0.73)
    ),
    url("/assets/images/galactic-senate-btn.jpg");
  opacity: 0.2;
}

/* yoda game styles */
.yoda-game {
  max-width: 51rem;
  border: 1px solid #252525;
  border-radius: 35px;
  background: linear-gradient(225deg, #ffffff, #efefef);
  box-shadow: 5px 8px 28px #666666, 5px 2px 28px #ffffff;
  margin: 4px;
  text-align: center;
}

.yoda-wrong-words {
  margin: 0 2rem;
}

.yoda-img {
  height: 18rem;
}

#yoda-words-wrong {
  overflow-wrap: anywhere;
  padding: 1rem 0 1rem 0;
}
.yoda-submit {
  border-radius: 10px;
}
/* End Game page */
