@import url("https://fonts.cdnfonts.com/css/star-wars");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');


:root {
  --danger-color: #d13443;
  --success-color: #20c997;

  --title: "star wars", serif;
  --main-font: "share tech mono", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--main-font);
}

a.btn.btn-lg.btn-secondary {
  z-index: 1000;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.index-body::-webkit-scrollbar {
  display: none;
  height: 100vh;
  overflow: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.index-body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

i.fas {
  color: #ebc417;
}

a.nav-link:hover,
.navbar li:hover,
a:hover {
    color: rgb(235, 197, 25);
}

/* Navbar */
.bg-main {
  background-color: #151517;
}

.navbar li,
.navbar-brand {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}


.bg-purple{
  background: linear-gradient(#220e5a38, #16052e70 43%, #0b090f91),url('../images/space.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: left top;
  min-height: 100vh;
  overflow: hidden;
}


/* contact page */

.contact-page-bg-image{
  background:url("../images/space.jpg") no-repeat center center;
}

.team_title{
  color: #ebc417;
  letter-spacing: 3.2px;
  font-weight: 200;
}

/* columns side by side */
.profile-card {
  width: 20.3%;
  margin: 11px;
  padding: 1px 1px;
  text-align: center;

}
/* Display the columns below each other instead of side by side on small screens*/
@media screen and (max-width: 650px) {
  .profile-card {
    width: 43.3%;
    display: block;
  }
}
 
/* Some left and right padding inside the page container */
.page-container {
  padding: 2px 20px;
}

/* Some left and right padding inside the card container */
.card-container {
  padding: 1px 1px;
}

/* Clear floats */
.card-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 2px 13px;
  text-align: center;
  margin: 2px;
}

a:hover {
  opacity: 0.7;
}

.button:hover {
  background-color: #555;
}

/* End Contact page */

