* {
    margin: 0;
    padding: 0;
}


.whac-wrapper {
    box-sizing: border-box;
    border: 1px solid #252525;
    border-radius: 35px;
    background: linear-gradient(225deg, #ffffff, #EFEFEF);
    box-shadow:  -5px 8px 28px #666666, 5px 2px 28px #ffffff;
    max-height: 600px;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/tatooine-bkg.webp);
    overflow: hidden;
}


.whac-title, .whac-start {
    text-align: center;
    margin: 10px 0;
}


.whac-title * {
    padding: 5px;
}


.whac-stats {
    display: flex;
    justify-content: center;
}


.whac-stats div, .whac-stats button {
    padding: 5px 20px;
}


.whac-game {
    border: 3px solid #252525;
    max-width: 600px;
    max-height: 300px;
    margin-bottom: 50px;
}


.hole-wrapper {
    border: 1px solid blue;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}


.hole {
    border: 1px solid red;
    font-weight: bold;
    min-width: fit-content;
}
