@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --title: 'star wars', serif;
    --main-font: 'share tech mono', serif ;
}

h1, h2, h3, h4,  h5, h6 {
    font-family: var(--title);
}

body {
    font-family: var(--main-font);
}

.whac-wrapper {
    box-sizing: border-box;
    border: 1px solid #252525;
    border-radius: 35px;
    background: linear-gradient(225deg, #ffffff, #EFEFEF);
    box-shadow:  -5px 8px 28px #666666, 5px 2px 28px #ffffff;
    max-height: 600px;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/tatooine.webp);
    overflow: hidden;
}

.whac-title {
    text-align: center;
    margin: 10px 0;
}

.whac-title h1 {
    padding: 5px;
}

.whac-stats {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whac-stats div, .whac-start button{
    padding: 5px 20px;
}

.whac-game {
    max-width: 600px;
    max-height: 400px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.hole-wrapper {
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}

.hole {
    min-height: 125px;
    min-width: fit-content;
    position: relative;
    margin: 30px 0;
}

.hole:after {
    content: '';
    display: block;
    background-image: url(../images/sand-heap.webp);
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 2;
    bottom: -18px;
    background-size: 80%;
    background-repeat: no-repeat;

}

.maul {
    background-image: url(../images/maul-cartoon.webp);
    position: absolute;    
    display: none;
    left: -8px;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom;
}

.hole.up .maul {
    display: block;
    top: 5px;
}

/* Modal styles */
.whac-modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 200;
}

.whac-modal-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #90CE67;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 225px;
    height: 135px;
}
